{% extends "base_site.html" %}

{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'home' %}">Home </a>

&rsaquo; Create Classification Model
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">

	{% crispy form  %}
	
<!--script>
$(function() {
    $('input[name=post-format]').on('click init-post-format', function() {
        $('#gallery-box').toggle($('#post-format-gallery').prop('checked'));
    }).trigger('init-post-format');
});
</script-->

<!--label><input type="radio" name="post-format" id="post-format-gallery">Show gallery</label>
<label><input type="radio" name="post-format" checked>Hide gallery</label>

<div id="gallery-box" style="border: 1px solid red;">The Gallery</div-->

</div>	
{% endblock content %}
