<script src="//rawgit.com/saribe/eModal/master/dist/eModal.min.js"></script>
<script>
function return_to_main() {
  eModal.ajax("/task/connection_list_modal", 'Connection List');
  eModal.setId('main_list');
}
function change_modal_load() {
  $("#main_list .close").click();
  var options = {
        url: "/task/load_database_modal",
        title:'Load Database',
        buttons: [
            {text: 'close', style: 'danger',   close: true, click: return_to_main },
            {text: 'submit', style: 'info',   close: false, click: submit_form }
        ],
    };
  eModal.ajax(options);
}
function IsJsonString(str) {
  try {
      JSON.parse(str);
  } catch (e) {
      return false;
  }
  return true;
}

function submit_form() {
  var title = "Server Message";
  $('#load_database_form_modal').submit(function(e){
$('.error').html('please wait...')
 $.ajax({
      type: 'POST',
      url: '/task/load_database_modal/',
      data: $('#load_database_form_modal').serialize(),
      success: function (data) {

          var jstring = JSON.stringify(data, undefined, 1).replace(/[{}]/g, '');
          console.log(jstring);
          if (jstring.includes('Must either load form Mysql or AsterixDB')){
            var options = {
                message: 'Must either load form Mysql or AsterixDB',
                title:title,
            };
            eModal.alert(options);
          }
          else{
            var options = {
                message: jstring,
                title:title,
            };
            eModal.alert(options);
          }
      },
      error: function(data) {
            var jstring = JSON.stringify(data, undefined, 1).replace(/[{}]/g, '');
            var options = {
                message: jstring,
                title:title,
            };
            eModal.alert(options);
      }
  });
  e.preventDefault();
});
  $('#load_database_form_modal').submit();
}

function change_modal_detail(link) {

  eModal.ajax(link, 'Load Database', 'Table Detail');
}
</script>
  <h1>Connection List</h1>

    {% if connection_list %}
    <p>Create new database connection <a href="javascript:void(0);" onclick="change_modal_load();">here</a>.</p>
	<h2>Mysql:</h2>
<table>
  <tr>
    <th>connection</th>
    <th>username</th>
    <th>ip</th>
    <th>database name</th>
    <th>port number</th>
    <th>delete</th>
  </tr>
      {% for connection in connection_list %}
	{% if connection.is_mysql %}
  <tr>
    <td><a href="javascript:void(0);" onclick="change_modal_detail('/task/connection_list_modal/{{connection.id}}');">{{ connection }}</a></td>
    <td>{{ connection.username }}</td>
    <td>{{ connection.ip }}</td>
    <td>{{ connection.dbname }}</td>
    <td>{{ connection.port }}</td>
    <td><a href="/task/connection_list_modal/delete_connection_modal/?id={{connection.id}}"><i class="fa fa-trash"></i></a></td>
  </tr>
	{% endif %} 
      {% endfor %}
</table>

	<h2>AsterixDB:</h2>
<table>
  <tr>
    <th>connection</th>
    <th>ip</th>
    <th>database name</th>
    <th>port number</th>
    <th>delete</th>
  </tr>
      {% for connection in connection_list %}
	{% if not connection.is_mysql %}
  <tr>
</form></td>
    <td><a href="javascript:void(0);" onclick="change_modal_detail('/task/connection_list_modal/{{connection.id}}');">{{ connection }}</a></td>
    <td>{{ connection.ip }}</td>
    <td>{{ connection.dbname }}</td>
    <td>{{ connection.port }}</td>
    <td><a href="/task/connection_list_modal/delete_connection_modal/?id={{connection.id}}"><i class="fa fa-trash"></i></a></td>
  </tr>
	{% endif %} 
      {% endfor %}
</table>

    {% else %}
      <p>There is no connection.But you can create new database connection <a href="javascript:void(0);" onclick="change_modal_load();">here</a>.</p>
    {% endif %}  
<br></br>
