<script>
      $("#modal").on("show.bs.modal", function(e) {
        $(".modal-backdrop").remove();
        var link = $(e.relatedTarget);
	if(link.attr("href") == "/task/load_database_modal") {
		$('#myModal').find(".modal-title").text("load database").end();
	}
	else {
		$('#myModal').find(".modal-title").text("tables").end();
	}
	$('#myModal').find(".modal-footer").html('<button type="button" onclick = "returnfunc();" class="btn btn-default">Return</button>').end();
        $(this).find(".modal-body").load(link.attr("href")).end();
	
      });
function returnfunc() {
	$('#myModal').find(".modal-footer").html("<button type='button' onclick = 'removefunc()' class='btn btn-default' data-dismiss='modal'>Close</button>").end();
	$('#myModal').find(".modal-title").text("connections").end();
	$('#myModal').find(".modal-body").load("/task/connection_list_modal").end();
	$('#modal').modal('hide');
	$('body').removeClass('modal-open');
 }
function removefunc() {
$(".modal-backdrop").remove(); 
window.location.reload();
}

</script>
<div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" onclick = "removefunc()" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <h1>Connection List</h1>

    {% if connection_list %}
	<h2>Mysql:</h2>
<p>Create new database connection <a data-toggle="modal" href = "/task/load_database_modal" data-target="#modal" data-remote="false" data-backdrop="static" data-keyboard="false">here</a>.</p>
<table>
  <tr>
    <tih>connection</th>
    <th>username</th>
    <th>ip</th>
    <th>database name</th>
    <th>port number</th>
    <th>delete</th>
  </tr>
      {% for connection in connection_list %}
	{% if connection.is_mysql %}
  <tr>
    <td><a data-toggle="modal" href = "/task/connection_list_modal/{{connection.id}}" data-target="#modal" data-remote="false" data-backdrop="static" data-keyboard="false">{{ connection }}</a></td>
    <td>{{ connection.username }}</td>
    <td>{{ connection.ip }}</td>
    <td>{{ connection.dbname }}</td>
    <td>{{ connection.port }}</td>
    <td><a href="/task/connection_list_modal/delete_connection_modal/?id={{connection.id}}"><i class="fa fa-trash"></i></a></td>
  </tr>
	{% endif %} 
      {% endfor %}
</table>

	<h2>AsterixDB:</h2>
<table>
  <tr>
    <th>connection</th>
    <th>ip</th>
    <th>database name</th>
    <th>port number</th>
    <th>delete</th>
  </tr>
      {% for connection in connection_list %}
	{% if not connection.is_mysql %}
  <tr>
</form></td>
    <td><a data-toggle="modal" href = "/task/connection_list_modal/{{connection.id}}" data-target="#modal" data-remote="false"  data-backdrop="static" data-keyboard="false">{{ connection }}</a></td>
    <td>{{ connection.ip }}</td>
    <td>{{ connection.dbname }}</td>
    <td>{{ connection.port }}</td>
    <td><a href="/task/connection_list_modal/delete_connection_modal/?id={{connection.id}}"><i class="fa fa-trash"></i></a></td>
  </tr>
	{% endif %} 
      {% endfor %}
</table>

    {% else %}
      <p>There is no connection.But you can create new database connection <a data-toggle="modal" href = "/task/load_database_modal" data-target="#modal" data-remote="false" data-backdrop="static" data-keyboard="false">here</a>.</p>
    {% endif %}  
<br></br>
