{% extends "base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'home' %}">Home </a>
&rsaquo;
<a href="{% url 'task:task_list' %}">Task_list </a>
&rsaquo; Task Complete
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
			<h1>Thank you, {{ request.user }}!</h1>
			<br>
			<p>
				You have completed this task!
			</p>
			<p>Please click the button below to return to the task list.</p>
			<br>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="text-align: center;">
			<a href="{% url 'task:task_list' %}">
				<div class="btn btn-info btn-lg start_quiz">Task List</div>
			</a>
		</div>
	</div>

</div>
{% endblock content %}