{% extends "base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'home' %}">Home </a>
&rsaquo;
&rsaquo;
<a href="{% url 'account:forgot_password' %}">Password Reset Request </a>
&rsaquo; Password Request Approved
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">

	<div class="row">
		<div class="col-md-12">			
		    <h1>Congratulations!</h1>
			<br>
			<p>
				An email has been sent to You. Please check your inbox to continue reseting password.
			</p>
			<p>Please click the button below to return to the Login Page.</p>
			<br>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="text-align: center;">
			<a href="{% url 'account:login' %}">
				<div class="btn btn-info btn-sm">Back to Login</div>
			</a>
		</div>
	</div>

</div>
{% endblock content %}
