/*----------take_task.css---------------*/



.loanParamsLoader {
    top: 143px;
    margin: auto;
    position: absolute;
    right: 17%;
    width: 135%;
}

.post{
    background-color: #2c3e50;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
}

h3 {
  color: #fff;
  font-size: 25px;
}

h1 {
  text-transform: uppercase;
}
.container ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.card ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #111111;
}

.card ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.card ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.5em;
  padding: 25px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.card ul li:hover label{
    color: #18bc9c;
}

.card ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  top: 30px;
  left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.card ul li:hover .check {
  border: 5px solid #18bc9c;
}

.card ul li .check::before {
  display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 14px;
    width: 14px;
    top: 3px;
    left: 3px;
  margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.card input[type=radio]:checked ~ .check {
  border: 5px solid #18bc9c;
}

.card input[type=radio]:checked ~ .check::before{
  background: #18bc9c;/*attr('data-background');*/
}

.card input[type=radio]:checked ~ label{
  color: #18bc9c;
}


